<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.sagar.smsblocker">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Analytics Application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ux.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- #SearchableInterace -->
            <!--
                <meta-data
                android:name="android.app.default_searchable"
                android:value=".test.activities.SearchResultsActivity" />
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        Here android:windowSoftInputMode="stateHidden" helps in hiding keyboard when activity
        starts and edditext is focused in activity
        -->
        <activity android:name=".ux.activities.ThreadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".ux.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ux.activities.NewThreadActivity"
            android:label="@string/title_activity_new_thread"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ux.activities.StarredSMSActivity"
            android:label="@string/title_activity_starred_sms"
            android:parentActivityName=".ux.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.sagar.smsblocker.ux.activities.HomeActivity" />
        </activity>

        <receiver android:name=".tech.broadcastreceivers.SMSReceivedReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>

                <!-- Start Adding -->
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!-- Stop Adding -->

            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens to incoming MMS messages -->
        <receiver android:name=".tech.broadcastreceivers.MMSReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name=".tech.broadcastreceivers.SMSDeliveredReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".tech.broadcastreceivers.SMSSentReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".tech.broadcastreceivers.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Services -->
        <service android:name=".tech.services.HeadlessSMSService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>



        <activity
            android:name=".test.activities.TestMainActivity"
            android:label="@string/title_activity_test_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />

                <!--
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                -->

            </intent-filter>
        </activity>

        <activity
            android:name=".test.activities.Test2Acitvity"
            android:label="@string/title_activity_test2_acitvity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ux.activities.SilentSMSSenderActivity" />

        <activity android:name=".test.activities.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- #SearchableInterace -->
            <!--
                <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/home_searchable" />
            -->
        </activity>
    </application>

</manifest>